

      <footer class="main">
          <p>Website by Camille Sébastien Niessen | Movies from <a href="https://www.themoviedb.org/">TheMovieDatabase</a></p>
      </footer>

      <!-- Stylesheets -->
      <link rel="stylesheet" type="text/css" href="/assets/css/style.min.css" />

  </body>
</html>
