<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieSpot</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/movie_style.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Lato:700,900" rel="stylesheet">

</head>

<body>

  <header>
        <nav>
            <h1>Moviespot</h1>
            <ul>
                <li><a id="trending" href="/movies/lists/popular">Trending movies</a></li>
                <li><a id="toplist" href="/movies/lists/top_rated">Top rated movies</a></li>
                <li><a id="latest" href="/movies/lists/now_playing">Latest movies</a></li>
                <li><a id="upcoming" href="/movies/lists/upcoming">Upcoming movies</a></li>
                <li><a id="random" href="/movies/special/random">Random movie</a></li>
                <!-- <li><a id="open_search"><img class="search_icon" src="./assets/images/search.svg" /></a></li> -->
            </ul>
        </nav>

        <!-- <div class="search_block">
            <input type="text" id="search_query" />
            <button role="button" type="submit" class="filter-btn" id="search_button">Search</button>
        </div> -->

    </header>
