<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieSpot</title>

    <!-- Stylesheets -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/movie_style.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" /> -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Lato:700,900" rel="stylesheet">

</head>

<body>
